<div class="game-container">
  <button
    *ngIf="!gameIsStarted && !gameIsLoading"
    (click)="startGame()"
    [disabled]="gameIsLoading"
    mat-button
  >
    {{ !gameIsLoading ? "Start Game" : "" }}
  </button>
  <mat-spinner *ngIf="gameIsLoading && !gameIsStarted"></mat-spinner>

  <div 
    *ngIf="gameIsStarted"
    id="game"
  >
    <div class="cards-container">
      <card
        *ngFor="let card of cards"
        [card]="card"
        (selectCardEmitter)="selectCard($event)"
      ></card>
  </div>

  <game-modal></game-modal>
</div>